.mainLine {
    width: 100%;
    height: auto;
    background-color: white;
    font-family: "PopMedium";
    padding: 50px 0;
    display: grid;
    place-items: center;
}

.mainLine .headingLine {
    font-size: 27px;
    font-weight: 500;
    color: rgb(106, 6, 236);
    position: relative;
}

.headingLine::after {
    position: absolute;
    content: " ";
    width: 50%;
    height: 3px;
    left: 50%;
    bottom: -5px;
    background-image: linear-gradient(to right,
            rgb(106, 6, 236),
            rgb(220, 0, 240));
    transform: translateX(-50%);
}

.containerLine {
    width: 70%;
    height: auto;
    position: relative;
    margin-top: 80px;
}

.containerLine::after {
    position: absolute;
    content: " ";
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to bottom,
            rgb(106, 6, 236),
            rgb(220, 0, 240));
}

.containerLine ul {
    list-style: none;
}

.containerLine ul li {
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 1px 1px 25px black;
    border-radius: 10px;
    margin-bottom: 30px;
    z-index: 99;
    position: relative;
}

.containerLine ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translate(-30px);
    text-align: right;
}

.containerLine ul li:nth-child(odd) .dateLine {
    right: 20px;
}

.containerLine ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translate(30px);
}

.containerLine ul li .titleLine {
    font-size: 20px;
    font-weight: 500;
    color: rgb(106, 6, 236);
}

ul li p {
    font-size: 15px;
    color: #444;
    margin: 7px 0;
    line-height: 23px;
}

ul li button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    color: #551a8b;
    font-family: "PopMedium";
}

ul li .dateLine {
    position: absolute;
    top: -40px;
    width: 135px;
    height: 35px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(to bottom,
            rgb(106, 6, 236),
            rgb(220, 0, 240));
    display: grid;
    place-items: center;
    font-size: 14px;
}

.containerLine ul li .circleLine {
    width: 30px;
    height: 30px;
    background-color: rgb(220, 0, 240, 0.403);
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.containerLine ul li .circleLine::after {
    content: " ";
    width: 15px;
    height: 15px;
    background-color: rgb(106, 6, 236);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containerLine ul li:nth-child(odd) .circleLine {
    right: -30px;
    transform: translate(50%, -50%);
}

.containerLine ul li:nth-child(even) .circleLine {
    left: -30px;
    transform: translate(-50%, -50%);
}

//MEDIA QUERY

// @media (max-width: 1224px) {
//     .containerLine{
//         width: 85%;
//     }
// }

// @media (max-width: 993px) {
//     .containerLine{
//         width: 80%;
//         transform: translateX(20px);
//     }

    
//     .containerLine::after{
//         opacity: 0;
//     }


//     .containerLine ul li{
//         width: 100%;
//         float: none;
//         clear: none;
//         margin-bottom: 80px;
//     }

//     .containerLine ul li:nth-child(odd){
//         transform: translateX(0);
//         text-align: left;
//     }

//     .containerLine ul li:nth-child(odd) .dateLine{
//         left: 20px;
//     }

//     .containerLine ul li:nth-child(odd) .circleLine{
//         left: -30px;
//         transform: translate(-50%, 50%);
//     }

//     .containerLine ul li:nth-child(even){
//         transform: translateX(0);
//     }
// }


@media screen and (max-width:1224px) {
    .containerLine{
        width: 85%;
    }
}

@media screen and (max-width:993px) {
    .containerLine{
        width: 80%;
    }

    .containerLine ul li{
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }

    .containerLine ul li:nth-child(odd){
        transform: translateX(0);
        text-align: right;
    }

    .containerLine ul li:nth-child(even){
        transform: translateX(0);
        text-align: left;
    }

    .containerLine::after{
        opacity: 0;
    }

    .containerLine ul li:nth-child(even) .circleLine{
    left: 0px;
    transform: translate(-50%, 50%);
    }

    .containerLine ul li:nth-child(odd) .circleLine{
    right: -30px;
    transform: translate(-50%, 50%);
    }

    .containerLine ul li:nth-child(even) .dateLine{
    left: 0px;
    }

    .containerLine ul li:nth-child(odd) .dateLine{
        right: 0px;
        }
}

// TIMELINE MODAL

.modal {
    position: fixed;
    z-index: 999;
    background-color: #21234dda;
    backdrop-filter: blur(10px);
    animation: modal 0.5s forwards;
    flex-direction: column;
    overflow-y: auto;
    height: 90%;
    border-radius: 15px;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "PopMedium";
        color: $white-normal;
        flex: 1;
        margin: 1rem 0;
    }
}

@keyframes modal {
    from{
        transform: translateY(0%);
        opacity: 0;
    }to{
        opacity: 1;
        transform: translateY(-50%, 50%);
    }
}

.modal::-webkit-scrollbar {
    width: 7px;
}

.modal::-webkit-scrollbar-thumb {
    background: #c6c6c6;
    border-radius: 99px;
    max-height: 3px;
}

.modal-content {
    display: flex;
    // flex: 1;
    gap: 1.2rem;

    img {
        width: 400px;
    }
}