@charset "UTF-8";
@font-face {
  font-family: "mainBoldItalic";
  src: url(./src/fonts/Poppins-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "extraBoldItalic";
  src: url(./src/fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "PopMedium";
  src: url(../src/fonts/Poppins-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PopMedium";
  width: 100%;
}

main {
  background-image: url(../src/imagemTurma.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "mainBoldItalic";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.countdown-container {
  background-color: transparent;
  box-shadow: none;
  border: none;
  z-index: 1;
}
.countdown-container h1, .countdown-container p, .countdown-container span {
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

#countdown {
  display: flex;
  justify-content: center;
}

.time-block {
  margin: 0 35px;
}

.time-block span {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  background-color: transparent;
  font-size: 100px;
}

.time-block p {
  margin-top: 5px;
  font-size: 40px;
}

#message {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #00ff00;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  margin-top: 15vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 0;
}

/* Responsividade para tablet (945px) */
@media (max-width: 945px) {
  h1 {
    font-size: 50px;
  }
  #countdown {
    flex-wrap: wrap;
    gap: 15px;
  }
  .time-block {
    margin: 0 15px;
  }
  .time-block span {
    font-size: 3rem;
  }
  .time-block p {
    font-size: 1.5rem;
  }
}
/* Responsividade para tablet (768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  #countdown {
    flex-wrap: wrap;
    gap: 15px;
  }
  .time-block {
    margin: 0 15px;
  }
  .time-block span {
    font-size: 3rem;
  }
  .time-block p {
    font-size: 1.5rem;
  }
}
/* Responsividade para mobile large (425px) */
@media (max-width: 425px) {
  h1 {
    font-size: 1.8rem;
  }
  #countdown {
    flex-direction: column;
    align-items: center;
  }
  .time-block span {
    font-size: 2rem;
  }
  .time-block p {
    font-size: 1rem;
  }
}
/* Responsividade para mobile medium (375px) */
@media (max-width: 375px) {
  .countdown-container {
    margin-top: 0;
  }
  h1 {
    font-size: 1.8rem;
  }
  .time-block span {
    font-size: 2rem;
  }
  .time-block p {
    font-size: 1rem;
  }
}
/* Responsividade para mobile small (320px) */
@media (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
  .time-block span {
    font-size: 1.8rem;
  }
  .time-block p {
    font-size: 0.9rem;
  }
}
/* Estilos gerais para o header */
header {
  width: 100%;
  background-image: linear-gradient(to left, rgb(15, 0, 131), #212842);
  height: 15vh;
}

#logo img {
  max-width: 100px;
  max-height: 100px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-icons {
  display: flex;
  gap: 50px;
}

.header-icons a {
  color: #e6d7c4;
  font-size: 24px;
  font-family: "extraBoldItalic";
  transition: 0.2s;
}

/* Hover e active effects */
.header-icons a:hover {
  color: #fff;
  transform: translateY(-5px);
}

.header-icons a:active {
  color: lightgrey;
}

.header-icons a:after {
  color: gray;
}

/* Responsividade para Tablets (768px) */
@media (max-width: 768px) {
  .header-icons {
    gap: 30px;
  }
  .header-icons a {
    font-size: 20px;
  }
  #logo img {
    max-width: 80px;
  }
}
@media (max-width: 516px) {
  .header-icons {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .header-content {
    justify-content: center;
  }
}
html {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

#bg-home {
  position: relative;
}

#location iframe {
  width: 100%;
}

#location {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #212842;
  align-items: center;
}
#location h1 {
  color: #fff;
}

#anuario {
  display: flex;
  flex-direction: column;
  background-color: #e6d7c4;
  align-items: center;
  /* Efeito de aumento no hover */
}
#anuario img {
  max-width: 150px;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
}
#anuario div {
  max-width: 100%;
  font-family: "mainBoldItalic";
  color: #212842;
}
#anuario .imgs {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#anuario .imgs img {
  max-width: 150px;
  margin: 30px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}
#anuario .imgs img:hover {
  transform: scale(1.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}

@media (max-width: 470px) {
  #anuario img {
    width: 100px;
  }
  #anuario .imgs img {
    margin: 15px;
  }
  #anuario .imgs {
    margin: 0;
  }
}
@media (max-width: 435px) {
  #anuario img {
    width: 100px;
  }
  #anuario .imgs img {
    margin: 5px;
  }
  #anuario .imgs {
    margin: 0;
  }
}
.mainLine {
  width: 100%;
  height: auto;
  background-color: white;
  font-family: "PopMedium";
  padding: 50px 0;
  display: grid;
  place-items: center;
}

.mainLine .headingLine {
  font-size: 27px;
  font-weight: 500;
  color: rgb(106, 6, 236);
  position: relative;
}

.headingLine::after {
  position: absolute;
  content: " ";
  width: 50%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
  transform: translateX(-50%);
}

.containerLine {
  width: 70%;
  height: auto;
  position: relative;
  margin-top: 80px;
}

.containerLine::after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(106, 6, 236), rgb(220, 0, 240));
}

.containerLine ul {
  list-style: none;
}

.containerLine ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 1px 1px 25px black;
  border-radius: 10px;
  margin-bottom: 30px;
  z-index: 99;
  position: relative;
}

.containerLine ul li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translate(-30px);
  text-align: right;
}

.containerLine ul li:nth-child(odd) .dateLine {
  right: 20px;
}

.containerLine ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translate(30px);
}

.containerLine ul li .titleLine {
  font-size: 20px;
  font-weight: 500;
  color: rgb(106, 6, 236);
}

ul li p {
  font-size: 15px;
  color: #444;
  margin: 7px 0;
  line-height: 23px;
}

ul li button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
  color: #551a8b;
  font-family: "PopMedium";
}

ul li .dateLine {
  position: absolute;
  top: -40px;
  width: 135px;
  height: 35px;
  border-radius: 20px;
  color: white;
  background-image: linear-gradient(to bottom, rgb(106, 6, 236), rgb(220, 0, 240));
  display: grid;
  place-items: center;
  font-size: 14px;
}

.containerLine ul li .circleLine {
  width: 30px;
  height: 30px;
  background-color: rgba(220, 0, 240, 0.403);
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.containerLine ul li .circleLine::after {
  content: " ";
  width: 15px;
  height: 15px;
  background-color: rgb(106, 6, 236);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerLine ul li:nth-child(odd) .circleLine {
  right: -30px;
  transform: translate(50%, -50%);
}

.containerLine ul li:nth-child(even) .circleLine {
  left: -30px;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1224px) {
  .containerLine {
    width: 85%;
  }
}
@media screen and (max-width: 993px) {
  .containerLine {
    width: 80%;
  }
  .containerLine ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }
  .containerLine ul li:nth-child(odd) {
    transform: translateX(0);
    text-align: right;
  }
  .containerLine ul li:nth-child(even) {
    transform: translateX(0);
    text-align: left;
  }
  .containerLine::after {
    opacity: 0;
  }
  .containerLine ul li:nth-child(even) .circleLine {
    left: 0px;
    transform: translate(-50%, 50%);
  }
  .containerLine ul li:nth-child(odd) .circleLine {
    right: -30px;
    transform: translate(-50%, 50%);
  }
  .containerLine ul li:nth-child(even) .dateLine {
    left: 0px;
  }
  .containerLine ul li:nth-child(odd) .dateLine {
    right: 0px;
  }
}
.modal {
  position: fixed;
  z-index: 999;
  background-color: rgba(33, 35, 77, 0.8549019608);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  animation: modal 0.5s forwards;
  flex-direction: column;
  overflow-y: auto;
  height: 90%;
  border-radius: 15px;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "PopMedium";
  color: #fff;
  flex: 1;
  margin: 1rem 0;
}

@keyframes modal {
  from {
    transform: translateY(0%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-50%, 50%);
  }
}
.modal::-webkit-scrollbar {
  width: 7px;
}

.modal::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 99px;
  max-height: 3px;
}

.modal-content {
  display: flex;
  gap: 1.2rem;
}
.modal-content img {
  width: 400px;
}

.containerMusic {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  justify-content: space-evenly;
}

.playerMusic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 400px;
  width: 25%;
  height: 500px;
  margin: 0 10px;
  box-shadow: 0 1px 10px grey;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(255, 220, 220);
}

.logoMusic {
  background-image: linear-gradient(45deg, rgb(255, 79, 79), rgb(255, 0, 98), rgb(255, 0, 212), rgb(255, 79, 79));
  background-size: 500% 100%;
  animation: degrade-animado 1s infinite alternate;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

@keyframes degrade-animado {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
.logoMusic i {
  font-size: 200px;
}

#musicName {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  font-family: "Fonte-Normal";
  color: red;
}

.controlsMusic button {
  border: none;
  background-color: rgb(255, 220, 220);
  cursor: pointer;
}

.controlsMusic i {
  font-size: 60px;
  border-radius: 50%;
  background-color: #f7f7f7;
  transition: all 0.2s;
}

.controlsMusic i:hover {
  background-image: linear-gradient(45deg, rgb(255, 79, 79), rgb(255, 0, 98), rgb(255, 0, 212), rgb(255, 79, 79));
  background-size: 500% 100%;
  animation: degrade-animado 1s infinite alternate;
}

.timeMusic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeMusic span {
  font-size: 22px;
  color: #333;
}

.footerMusic {
  width: 100%;
}

.progress-bar {
  height: 8px;
  background-color: #ddd;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
}

.progress {
  height: 8px;
  background-image: linear-gradient(45deg, rgb(255, 79, 79), rgb(255, 0, 98), rgb(255, 0, 212), rgb(255, 79, 79));
  background-size: 500% 100%;
  animation: degrade-animado 1s infinite alternate;
  border-radius: 5px;
}

a {
  text-decoration-line: none;
}

main {
  width: 100%;
  height: 85vh;
}

.fixaCanto {
  position: fixed;
  bottom: 0;
  /* distância do canto inferior */
  right: 0;
  /* distância do canto direito */
  padding: 15px;
  background-color: #212842;
  color: white;
  z-index: 99999;
  border-radius: 15px 0 0 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: relative;
  /* Define o posicionamento do símbolo */
  font-weight: bold;
  text-align: center;
}
.logo img {
  height: 30px;
  width: 50px;
  margin-right: 10px;
}

.copyright-symbol {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: -10px;
  /* Ajusto conforme necessário */
}

.icons {
  position: fixed;
  z-index: 9999;
  bottom: 25px;
  left: 25px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: #212842;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons a {
  color: #212842;
  transition: transform 0.3s ease, color 0.3s ease; /* Define a transição para o transform e color */
}

.icons a:hover {
  color: #000;
  transform: scale(1.3); /* Aumenta o ícone ao passar o mouse */
}

.space-icons {
  background-color: #e6d7c4;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-top: 3.5px;
}

@media (max-width: 517px) {
  .icons {
    width: 40px;
    height: 150px;
    bottom: 55px;
    left: 5px;
    flex-direction: column;
    border-radius: 9px;
  }
  .space-icons {
    width: 27px;
    height: 27px;
    padding-top: 3px;
    border-radius: 8px;
  }
  .fixaCanto {
    width: 100%;
    padding: 4px;
    border-radius: 15px 15px 0 0;
  }
  .copyright-symbol {
    font-size: 0;
  }
}
@media (max-width: 190px) {
  .fixaCanto {
    width: 100%;
    padding: 4px;
    border-radius: 15px 15px 0 0;
  }
  .fixaCanto p {
    font-size: 20px;
  }
  .fixaCanto img {
    max-width: 45px;
    max-height: 25px;
  }
}
@media (max-width: 165px) {
  .fixaCanto {
    width: 100%;
    padding: 4px;
    border-radius: 15px 15px 0 0;
  }
  .fixaCanto p {
    font-size: 20px;
  }
  .fixaCanto img {
    max-width: 40px;
    max-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */